{{! Bootstrap Navbar }}
<div class="container-fluid">

    <div class="navbar-header">
    	{{! Collapsed menu for small screens }}
		<button {{action 'toggleMenu'}} type="button" class="navbar-toggle {{unless isMenuOpened 'collapsed'}}" data-toggle="collapse" data-target="#navbar" aria-controls="navbar">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>

    	{{! Brand with link }}
    	{{link-to appName "index" class="navbar-brand"}}
    </div>

    <div class="collapse navbar-collapse {{if isMenuOpened 'in'}}" id="navbar">

    	{{! Menu links}}
        <ul class="nav navbar-nav">
        	{{#each menuLinks as |link|}}
        		<li>
            		{{link-to (t link.label) link.url}}
            	</li>
            	{{!--
            	{{#link-to link.url tagName="li"}}
            		<a href="">{{t link.label}}</a>
            	{{/link-to}}
            	--}}
            {{/each}}
        </ul>

    	{{! ChangeLanguage}}
		<ul class="nav navbar-nav navbar-right">
		  <li>
			  {{#power-select
			  selected=selectedLanguage
			  options=languages
			  class='dropdown'
			  onchange=(action (mut selectedLanguage))
			  as |language|
			  }}
				  {{language.name}}
			  {{/power-select}}
		  </li>
		</ul>

    </div>

</div>
